.stopwatch-wrapper {
  display: flex;
  flex-direction: column;
  width: 350px;

  .stopwatch {
    font-size: 80px;
  }

  .stopwatch-controls {
    display: flex;
    justify-content: space-between;
  }
}